<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <script>
    .list-inline {
    	padding-left: 0;
    	list-style: none;
    }
    </script>

  </head>
  <body <%= 'dir=rtl' if %w(ar dv he iw fa nqo ps sd ug ur yi).include?(@topic.locale) %>>
  <p>
    <%= t('above_this_line', default: "Make sure your reply appears above this line") %><br/>
    =================================================================<br/>
  </p>
  <p>
    <%= t('message_response', default: 'The following message has been posted in response to your question:') %>
  </p>
  <p>
    <%= simple_format(@post.body) %>
  </p>
  <%= render :partial => 'posts/thumbnail', locals: { :model_name => @post } %>
  <br/>
  <p>
    <strong>Beehive Support</strong><br/>
    Get connected to the right funders on <a href="http://www.beehivegiving.org/?utm_source=signature&utm_medium=email&utm_campaign=support">Beehive</a>
  </p>
  </body>
</html>
